@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  width: 100%;
  position: relative;
  min-height: 100vh;
}

* {
  font-family: 'Inter', sans-serif !important;
}